@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000d0f;
    --foreground: #ffffff;

    --secondaryFont: "Montserrat", sans-serif;
  }
}

/* lenis css start  "important for smooth scroll" */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* lenis css end  "important for smooth scroll" */

.mainFont {
  font-family: "Earthobiter", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #000d0f;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  // font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// common styles start
.customLine__height {
  line-height: normal;
}

// common styles end

// home page styles start
.homePage__heroSectionOverlay {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 13, 15, 1) 70%
  );
}

// "Digital Reality" color animation
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient_text {
  display: inline-block;
  background-image: repeating-linear-gradient(
    90deg,
    #f23232,
    #fea656,
    #07ac7a,
    #0cd69a,
    #472ed4,
    #5220c7,
    #f2c532,
    #56fe64,
    #f23232,
    #fea656
  );
  text-align: center;
  background-size: 1600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 35s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  -webkit-text-stroke: 1px white;
  color: transparent;
  background: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
}

// home page styles end

// Add these at the end of the file
.footer {
  &__container {
    height: 685px;
    width: 100%;
    background: linear-gradient(to bottom, #e44f58, #bf242d, #5f0006);
    border-radius: 60px 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px -4px 8px 0px rgba(137, 226, 255, 0.2);
  }

  &__input {
    width: 100%;
    height: 36px;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: black;
    background: transparent;
    border-bottom: 1px solid black;

    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
      font-size: 0.875rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__submit-button {
    background: black;
    color: #c44f56;
    width: 100%;
    margin-top: 3rem;
    height: 3.5rem;
    border-radius: 9999px;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    position: relative;
    overflow: hidden;

    &:hover {
      color: white;
    }
  }

  &__menu-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: white;
  }

  &__menu-list {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
  }

  &__menu-item {
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.9);
  }

  &__marquee-text {
    animation: marquee 15s linear infinite;
    white-space: nowrap;
    font-size: 100px;
    line-height: 98px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
  }
}

.swiper-slide {
  opacity: 0.1 !important;
}
.swiper-slide-active {
  opacity: 1 !important;
}
// Services Solution Section Styles
.services-container {
  > div:nth-child(odd) {
    .group-hover\:opacity-100 img {
      transform: translateY(-50%) rotate(-45deg) !important;
      transition: all 0.5s ease-in-out;
    }
  }
  
  > div:nth-child(even) {
    .group-hover\:opacity-100 img {
      transform: translateY(-50%) rotate(45deg) !important;
      transition: all 0.5s ease-in-out;
    }
  }
}
